<div class="sign-in-page">
  <div class="background-cover">
  </div>

  <div class="sign-up-box">
    <mat-card>
      <div class="sign-up-header">
        <div class="sign-in-box" (click)="isLogin = true;">
          <p>Sign in</p>
        </div>
        <div class="sign-in-box" (click)="isLogin = false;">
          <p>Sign up</p>
        </div>
      </div>
      <div class="sign-in-window">
        <form id="submitForm" (ngSubmit)="onSubmit()" [formGroup]="SignUpForm">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControlName]="'email'" autocomplete="email">
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="*******" [formControlName]="'password'"
              autocomplete="new-password">
            <mat-error *ngIf="password.invalid">{{getErrorPasswordMessage()}}</mat-error>
          </mat-form-field>
          <div class="form-submit">
            <button mat-raised-button color="primary" *ngIf="isLogin" [disabled]="SignUpForm.invalid">
              Login</button>
            <button mat-raised-button color="warn" *ngIf="!isLogin" [disabled]="SignUpForm.invalid">
              Signup</button>
          </div>
        </form>
        <p class="helper-text" *ngIf="isLogin">Don't have an account? 
          <span style="color:blue" (click)="isLogin = false;">Create now</span>
        </p>
        <p class="helper-text" *ngIf="!isLogin">Already have an account? 
          <span style="color:blue" (click)="isLogin = true;">Click Here</span>
        </p>
      </div>

    </mat-card>
  </div>
</div>
