.create-component{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    height: 100%;
    width: 100%;
    mat-card{
        width: 80%;
        height: fit-content;
        margin: 5% 10%;
    }
    .welcome-form{
        width: 100%;
        text-align: center;
    }
    .form-create{
        width: 100%;
        text-align: center;
    }
    .form-fields{
        display: grid;
        padding: 5% 5% 2% 5%;
        grid-template-columns: 45% 45%;
        gap: 2% 10%;
        height: fit-content;
    }
}