<div class="create-component">
  <mat-card>
    <h2 class="welcome-form" color="primary">
      Welcome to Awesome ERP. Please fill up your details.
    </h2>
    <mat-divider></mat-divider>
    <div class="form-create">
      <form id="create-form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="form-fields">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Enter your Name</mat-label>
            <input matInput placeholder="Jack Sparrow" [formControlName]="'name'">
            <mat-error *ngIf="name.invalid">Field is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Enter your Personal Email</mat-label>
            <input matInput placeholder="yahoo@rediff.google" [formControlName]="'personalEmail'">
            <mat-error *ngIf="name.invalid">Field is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Enter your DOB</mat-label>
            <input matInput [matDatepicker]="picker" [formControlName]="'dob'"
            (focus)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="name.invalid">Field is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Enter your Phone</mat-label>
            <input matInput placeholder="123456789" [formControlName]="'phone'"
            (keypress)="checkAndReplaceInput($event)">
            <mat-error *ngIf="name.invalid">Field is required</mat-error>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" [disabled]="createForm.invalid">
          Submit</button>
      </form>
    </div>
  </mat-card>
</div>
