<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-sidelinks></app-sidelinks>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 100vh;">
      <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="menu icon">
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <app-toolbar class="toolbar-container"></app-toolbar>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
