<h2>All Junior Employees</h2>
<mat-divider></mat-divider>
<div>
  <table mat-table [dataSource]="allEmployees" class="mat-elevation-z8 total-data">

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-raised-button color="primary" (click)="addPayroll(element.serialNumber)">Payroll</button>
        <button mat-raised-button color="primary" (click)="getEditView(element.serialNumber)">Edit</button>
        <button mat-raised-button color="warn" (click)="removeManager(element.serialNumber)">Remove Manager</button>
        <button mat-raised-button color="primary" (click)="updateManager(element.serialNumber)">Update Manager</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: dataColumns;"></tr>
  </table>  
</div>
