<mat-card>
  <mat-tab-group color="accent">
    <mat-tab label="Leaves">
      <div class="tab-container">
        <app-request-leave></app-request-leave>
      </div>

    </mat-tab>

    <mat-tab label="Loan">
      <div class="tab-container">
        <app-request-loan-table></app-request-loan-table>
      </div>
    </mat-tab>
    <mat-tab label="Bonus">
      <div class="tab-container">
        <app-request-bonus-table></app-request-bonus-table>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
