<mat-card>
  <mat-tab-group color="accent">
    <mat-tab label="Manage Leaves">
      <div class="tab-container">
        <app-leave-manage-table></app-leave-manage-table>
      </div>

    </mat-tab>

    <mat-tab label="Manage Loan Requests">
      <div class="tab-container">
        <app-loan-manage-table></app-loan-manage-table>
      </div>
    </mat-tab>
    <mat-tab label="Manage Bonus Requests">
      <div class="tab-container">
        <app-raise-manage-table></app-raise-manage-table>
      </div>
    </mat-tab>
  </mat-tab-group>


</mat-card>
