<mat-card>
  <mat-tab-group color="accent">
    <mat-tab label="All Employees">
      <div class="tab-container">
        <app-all-employees></app-all-employees>
      </div>

    </mat-tab>

    <mat-tab label="All Junior Managers">
      <div class="tab-container">
        <app-all-junior-managers></app-all-junior-managers>
      </div>
    </mat-tab>
    <mat-tab label="Unassigned Employees">
      <div class="tab-container">
        <app-unassigned-employees></app-unassigned-employees>
      </div>
    </mat-tab>
  </mat-tab-group>


</mat-card>

